* {
    margin: 0;
    padding: 0;
}
body {
    background: #ccc;
}
/* header */
.header {
    height: 80px;
    width: 100%;
    background-color: #ccc;
    position: relative;
}
.header .nav {
    width: 980px;
    height: 80px;
    background-color: #666;
    margin: 0 auto;
    position: relative;
}
.header .nav .nav-title {
    float: right;
    display: inline;
}
.header .nav .nav-title {
    list-style-type: none;
    position: absolute;
    bottom: 5px;
    right: 0px;
}
.header .nav .nav-title li {
    float: left;
    padding-left: 28px;
}
.header .github-icon {
    right: 10px;
    position: absolute;
    bottom: 0;
}

/* banner */
.banner {
    width: 100%;
}
.banner .banner-content {
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.banner .banner-content .banner-content-main {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    line-height: 150%;
    /*線性漸變，顏色 位置*/
    background: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
}
.banner .banner-content .banner-content-main .banner-content-title {
    float: right;
    font-size: 14px;
}
.banner .banner-content .banner-content-main .banner-content-desc {
    float: right;
    font-size: 12px;
    margin-top: 12px;
}



/* content */
.block-content {
    width: 990px;
    margin: 10px auto;
    height: 500px;
}
.block-content .main-content {
    width: 320px;
    background: #fff;
    font-size: 12px;
    line-height: 170%;
    float: left;
    margin-left: 10px;
}
.block-content .main-content .main-content-img {
    margin: 10px 10px 15px 10px;
}
.block-content .main-content .main-content-text {
    margin: 0px 30px 0px 30px;
    padding-bottom: 25px;
}


/* name card */
